<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>

                        <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %> 
<script>
    function confirmarDelecao(event, form) { // event é o evento do onsubmit que está no formulário // o this é o que chama o evento html do onsubmit, neste caso é o formulário
        event.preventDefault(); // previne que o formulário não seja enviado
        var decision = confirm("Você quer deletar esta categoria?");
        if(decision) { // se clicar em sim significa que a decision é verdadeira 
            form.submit(); // então o formulário será submit
        }else{
            console.log("não quero deletar, foi um acidente")
        }
    }
</script>